{% set nowIsCurrent = (form.vars.value.availabilityDomains[0].date|date('o-\\WW')) == ('now'|date('o-\\WW')) %}
<nav>
    <ul class="pagination pagination-sm justify-content-end">
        <li class="page-item{% if nowIsCurrent %} disabled{% endif %}">
            <a class="page-link" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({week: 'now'|date('o-\\WW')})) }}">
                <span aria-hidden="true">&laquo;</span>
                Semaine courante
            </a>
        </li>
        <li class="page-item{% if not nowIsCurrent %} disabled{% endif %}">
            <a class="page-link" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({week: 'next week'|date('o-\\WW')})) }}">
                Mes disponiblités pour la semaine du lundi {{ 'monday next week' | date('d/m/Y') }}
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
