{% extends 'organization/base.html.twig' %}

{% block title %}{{ 'organization.mission.listTitle' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'organization.mission.listTitle' | trans }}</h1>

    <div class="row">
        <div class="col-12 text-right mb-2">
            <a class="btn btn-success" href="{{ path('app_organization_mission_new') }}" role="button">{{ 'organization.mission.addNew' | trans }}</a>
        </div>
    </div>

    {% include('organization/mission/_list.html.twig') %}
{% endblock %}
