{% extends 'availability/availability-form.html.twig' %}

{% block title %}Disponibilités de {{ asset.name }}{% endblock %}

{% block before_form %}
    <h1>Disponibilités de {{ asset.name }}</h1>
{% endblock %}
