{% extends 'availability/availability-form.html.twig' %}

{% block title %}Disponibilités de {{ asset }}{% endblock %}

{% block before_form %}
    <h1>Disponibilités de {{ asset }}</h1>
{% endblock %}
