{% extends 'organization/base.html.twig' %}

{% block title %}Disponibilités de {{ asset }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('availability-form') }}
{% endblock %}

{% block body %}
    <h1>Disponibilités de {{ asset }}</h1>

    {% include 'availability/_table.html.twig' %}
{% endblock %}
