{% extends 'organization/base.html.twig' %}

{% block title %}Espace structure{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('availabilitable-list') }}
{% endblock %}

{% block body %}
    <h1>Véhicules - {{ app.user }}</h1>

    {{ include('organization/commissionable_asset/_list.html.twig') }}
{% endblock %}
