**/*.log
**/._*
**/.dockerignore
**/.DS_Store
**/.git/
**/.idea/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/Dockerfile*
**/Thumbs.db
**/.cache/
**/.gradle/
**/node_modules/
**/vendor/
**/dist/

/var
