default:
    suites:
        default:
            contexts:
                - App\Tests\Behat\CoverageContext
                - App\Tests\Behat\DatabaseContext
                - App\Tests\Behat\SecurityContext
                - App\Tests\Behat\UserPlanningContext
                - Behat\MinkExtension\Context\MinkContext
    extensions:
        Behat\MinkExtension:
            sessions:
                symfony:
                    symfony: ~
        FriendsOfBehat\SymfonyExtension:
            kernel:
                environment: test
                debug: false
