default:
    suites:
        default:
            contexts:
                - App\Tests\Behat\CoverageContext
                - App\Tests\Behat\DatabaseContext
                - App\Tests\Behat\FixturesContext
                - App\Tests\Behat\SecurityContext
                - App\Tests\Behat\UserPlanningContext
                - Behat\MinkExtension\Context\MinkContext
                - PantherExtension\Context\PantherContext
    extensions:
        PantherExtension\Extension\PantherExtension: ~
        Behat\MinkExtension:
            browser_name: chrome
            default_session: symfony
            javascript_session: javascript
            sessions:
                javascript:
                    panther:
                        driver: 'chrome'
                symfony:
                    symfony: ~
        FriendsOfBehat\SymfonyExtension:
            kernel:
                environment: test
                debug: false
