version: "3.7"

volumes:
  postgres-data: ~

services:

#  traefik:
#    ports:
#      - '80:80' # Uncomment to use the 80 port on your host instead of the 7500 one.

#  blackfire:
#    image: blackfire/blackfire
#    environment:
#      - BLACKFIRE_SERVER_ID
#      - BLACKFIRE_SERVER_TOKEN

#  fpm:
#    volumes:
#      - ./:/srv:cached # Uncomment for MacOS

#  node:
#    volumes:
#      - ./:/srv:cached # Uncomment for MacOS

  postgres:
    volumes:
      - postgres-data:/var/lib/postgresql/data:rw
