version: "3.7"

volumes:
  postgres-data: ~

services:

#  traefik:
#    ports:
#      - '80:80' # Uncomment to use the 80 port on your host instead of the 7500 one.
#    volumes:
#      - /run/user/1000/docker.sock:/var/run/docker.sock # Uncomment for docker rootless

#  blackfire:
#    image: blackfire/blackfire
#    environment:
#      - BLACKFIRE_SERVER_ID=none
#      - BLACKFIRE_SERVER_TOKEN=none

#  fpm: # Uncomment for MacOS
#    volumes: # Uncomment for MacOS
#      - ./:/srv:cached # Uncomment for MacOS
#    environment:
#        - BLACKFIRE_CLIENT_ID=none
#        - BLACKFIRE_CLIENT_TOKEN=none

#  tools: # Uncomment for MacOS
#    volumes: # Uncomment for MacOS
#      - ./:/srv:cached # Uncomment for MacOS

#  node: # Uncomment for MacOS
#    volumes: # Uncomment for MacOS
#      - ./:/srv:cached # Uncomment for MacOS

  postgres:
    volumes:
      - postgres-data:/var/lib/postgresql/data:rw
#    ports:
#        - '5432:5432' # Uncomment if you need to access the DB from your host
