{% extends 'base.html.twig' %}

{% block title %}Réinitialiser mon mot de passe{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1>Réinitialiser mon mot de passe</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.emailAddress) }}
        <div>
            <small>
                Veuillez saisir votre adresse email afin d'obtenir un lien de réinitialisation de votre mot de passe.
            </small>
        </div>

        <button class="btn btn-primary">Envoyer le lien</button>
    {{ form_end(requestForm) }}
{% endblock %}
