label.required:not(.form-check-label)::before {
  color: crimson;
  content: "*";
  padding-right: 4px;
}

legend.required::before {
  color: crimson;
  content: "*";
  padding-right: 4px;
}

footer {
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: #f7f7f7;
  box-shadow: inset 0 3px 3px -1px rgba(227, 227, 227, 1);
}

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-select/sass/bootstrap-select";
@import "~daterangepicker/daterangepicker.css";
