@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/css/font-awesome.css";
@import "~bootstrap-select/sass/bootstrap-select";
@import "~daterangepicker/daterangepicker.css";

body,
html {
  background-color: $footerColor;
}

@media (min-width: 1400px) {
  .container-xl {
    max-width: 1340px !important;
  }
}

.white-box {
  @extend .rounded;

  border-radius: 6px;
  background-color: white;
  box-shadow: 2px 2px 18px 0 rgba(50, 47, 47, 0.2);
}

body {
  > nav.navbar {
    background-color: white;
    box-shadow: 0 4px 10px #eee;
    padding: 1em;
    font-size: 0.95rem;

    .navbar-brand {
      font-weight: bold;
      font-size: 1.35rem;
    }

    .navbar-separator {
      display: inline-block;
      width: 1px;
      height: 2em;
      background: $gray-400;
      margin-right: 0.5em;
    }
  }

  &.shadowless-navbar {
    > nav.navbar {
      box-shadow: none;
    }
  }

  footer {
    margin-top: 6rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 4rem;
    line-height: 1.3rem;
    background-color: $footerColor;
    box-shadow: inset 0 3px 3px -1px rgba(227, 227, 227, 1);

    @include media-breakpoint-down(sm) {
      margin-top: 3rem;
      padding-left: 1rem;
    }
  }
}

label.required:not(.form-check-label)::before {
  color: $red;
  content: "*";
  padding-right: 4px;
}

legend.required::before {
  color: $red;
  content: "*";
  padding-right: 4px;
}

select.selectpicker {
  display: block !important;
}
