table.availability-form-table {
  position: relative;

  label.day-title {
    padding: 0;
    margin: 0;
    cursor: pointer;
  }

  td.hour-title {
    min-width: 80px;
  }

  td.slot-box {
    min-width: 85px;

    &:hover {
      background-color: #eee;
    }

    &.checked {
      background-color: #76bd79;

      &:hover {
        background-color: #72a870;
      }
    }

    &.booked {
      background-color: #67a2d3 !important;
    }
  }

  button.select-all {
    position: absolute;
    right: 0;
  }
}
