@import "variables";

table.availability-table {
  text-align: center;

  td.slot-box {
    vertical-align: middle;
    cursor: pointer;

    input[type='checkbox'] {
      cursor: pointer;
    }

    &:hover:not(.disabled):not(.checked) {
      opacity: 0.8;
    }

    &.disabled {
      cursor: default;
    }
  }

  &.shift-pressed {
    td.prev-clicked {
      opacity: 1;
      box-shadow: inset 0 0 0 4px $red;
    }
  }
}

.availability-legend-container,
.planning-legend-container {
  margin-bottom: 0;

  .availability-legend {
    height: 15px;
    width: 30px;
    display: inline-block;
    margin-right: 15px;
  }

  &.availability-legend-container {
    .availability-legend.unknown {
      background-color: white;
      border: 1px solid #eee;
    }
  }
}

.planning-actions-container,
.availability-legend-container,
table.availability-table {
  .unknown {
    background-color: $colorUnknown;
    color: white;
  }

  .available {
    background-color: $colorAvailable;
    color: white;
  }

  .booked {
    background-color: $colorBooked;
    color: white;
  }

  .engaged {
    background-color: $colorMission;
    color: $colorMissionText;

    &.btn-outline-light {
      background-color: white;
      border-color: $colorMission;
      color: $colorMissionOutlineText;
    }
  }

  .locked {
    background-color: $colorLocked;
    color: white;
  }
}
