table.availability-table {
  text-align: center;
  position: relative;

  label.day-title {
    padding: 0;
    margin: 0;
    cursor: pointer;
  }

  td.clickable-table-box {
    cursor: pointer;

    &:hover {
      background-color: #eee;
    }

    &.checked {
      background-color: #76bd79;

      &:hover {
        background-color: #72a870;
      }
    }

    &.disabled {
      cursor: default;
    }

    &.booked {
      background-color: #67a2d3 !important;
    }

    &.locked {
      background-color: #7a7a7a !important;
    }

    input[type=checkbox] {
      cursor: pointer;
    }
  }

  button.select-all {
    position: absolute;
    right: 0;
  }
}
