@import "variables";

$tableBoxSize: 40px;

.planning-actions-container {
  margin-bottom: 20px;

  .btn:hover {
    opacity: 0.8;
  }

  .display-more-container {
    position: absolute;
    bottom: 0;
  }
}

.planning-container,
.planning-actions-container {
  .item-data {
    display: none;
  }
}

.planning-container {
  .planning {
    margin-bottom: 40px;
    width: auto;

    thead {
      th {
        font-weight: 600;
        background-color: white;
        position: sticky;
        white-space: nowrap;
        z-index: 99;
        top: 0;

        &[data-day] {
          cursor: pointer;

          &::after {
            content: "▼";
            width: 20px;
            display: inline-block;
          }

          &.loading {
            background-color: #eee;
          }

          &.loading::after {
            content: "●";
          }

          &.sorted::after {
            content: "";
          }
        }

        &.slot-name {
          font-weight: 400;
          min-width: $tableBoxSize;
          text-align: left;

          &.selected {
            background: #ffd674;
          }
        }
      }

      tbody.item-row {
        border: 0;
      }

      tr.hours {
        th {
          top: 30px;
        }
      }
    }

    th.item-detail {
      position: sticky;
      left: 0;
      background-color: white;
      z-index: 100;
      text-align: left;
      white-space: nowrap;
      vertical-align: middle;
      font-weight: 600;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    th.separator {
      height: 60px;
      text-align: left;
      vertical-align: middle;
      padding-left: 20px;
      font-weight: 600;
      position: sticky;
      left: 0;
      background-color: #eee;
      color: white;
      z-index: 100;
      border-right: none;
    }

    .item-data {
      white-space: nowrap;
      font-size: 0.85em;
      vertical-align: middle;

      &th {
        font-size: 0.9em;
      }
    }

    td.slot-box {
      width: $tableBoxSize;
      height: $tableBoxSize;

      input[type='checkbox'] {
        visibility: hidden;
      }

      &.checked {
        opacity: 0.3;

        input[type='checkbox'] {
          visibility: visible;
        }
      }

      &.mission {
        outline: 5px solid $colorMission;
        outline-offset: -15px;
      }
    }
  }
}

#alert-last-update {
  position: fixed;
  top: 0;
  z-index: 200;
}

@media screen and (max-width: 1000px) {
  .planning-actions-container {
    .display-more-container {
      position: initial;
      margin-bottom: 10px;
    }
  }

  .planning-container {
    margin-left: 0;
    width: auto;
    overflow-x: auto;

    .planning {
      th {
        position: relative !important;
      }
    }
  }
}
