$red: crimson;

$colorUnknown: #ff767f;
$colorAvailable: #76bd79;
$colorAvailableHover: #72a870;
$colorBooked: #67a2d3;
$colorLocked: #7a7a7a;
$colorMission: #f9d948;
$colorMissionText: #333;
$colorMissionOutlineText: #a7912e;

$footerColor: #f7f7f7;

$font-family-base: 'Open Sans', 'Roboto', sans-serif !important;
