$red: crimson;

$colorUnknown: #ff767f;
$colorAvailable: #24c603;
$colorAvailableHover: #72a870;
$colorBooked: #009dcc;
$colorLocked: #7a7a7a;
$colorMission: #f9d948;
$colorMissionText: #333;
$colorMissionOutlineText: #a7912e;

$footerColor: #f7f7f7;

$font-family-base: 'Open Sans', 'Roboto', sans-serif !important;
