$red: crimson;

$colorUnknown: #ff767f;
$colorAvailableUser: #24c603;
$colorAvailable: #76bd79;
$colorAvailableHover: #72a870;
$colorBookedUser: #009dcc;
$colorBooked: #67a2d3;
$colorLocked: #7a7a7a;
$colorMission: #f9d948;
$colorMissionUser: #f75c03;
$colorMissionText: #333;
$colorMissionOutlineText: #a7912e;

$footerColor: #f7f7f7;

$font-family-base: 'Open Sans', 'Roboto', sans-serif !important;
