<footer class="page-footer font-small">
    <div class="footer-copyright text-center">
        <p class="font-italic text-secondary">
            Réserve Opérationnelle - Croix-Rouge Française à Paris -
            Contribuez au projet: <a href="https://github.com/crf-devs/resop/" target="_blank" class="text-body">github.com/crf-devs/resop</a>
        </p>
    </div>
</footer>
