{% extends 'base.html.twig' %}

{%  set actionName = (user is defined and user.id is not null) ? 'Modification' : 'Création' %}
{% block title %}{{ 'user.accountAction' | trans({ '%action%' : actionName }) }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('form-choice-with-other') }}
{% endblock %}

{% block body %}
    <h1>{{ 'user.accountAction' | trans({ '%action%' : actionName }) }}</h1>

    {% if user is not defined or user.id is not defined or user.id is null %}
        {% include '/user/_introduction.html.twig' %}
    {% endif %}

    {% include '/user/_user_form.html.twig' with { 'form': form } %}
{% endblock %}
